# MADFAM Private Registry
@madfam:registry=https://npm.madfam.io
@janua:registry=https://npm.madfam.io
@cotiza:registry=https://npm.madfam.io
@fortuna:registry=https://npm.madfam.io
@avala:registry=https://npm.madfam.io
@forgesight:registry=https://npm.madfam.io
@coforma:registry=https://npm.madfam.io
@forj:registry=https://npm.madfam.io
@enclii:registry=https://npm.madfam.io

